<h1 class="container bg-primary text-center pt-3 pb-3 rounded">Clash au sommet !</h1>

<!-- <div class="container">
  <div class="row">
    <app-mon-perso [persoPseudo]="listHeros[0].pseudo"></app-mon-perso>
  </div>
</div> -->

<!-- <div class="container">
  <div class="row mt-3 mb-3">
    <app-mon-perso class="col-4 mt-3 mb-3" *ngFor="let perso of listHeros" [persoPseudo]="perso.pseudo" [persoIdSecrete]="perso.idSecrete" [persopossedeSuperPouvoir]="perso.possedeSuperPouvoir" [ngClass]="{'bg-success':!perso.estMechant}"></app-mon-perso>
  </div>
</div> -->
<div class="container">
  <div class="row mt-3 mb-3">
    <app-mon-perso class="col-sm-4 text-center pt-4 rounded " *ngFor="let perso of listHeros"
        [persoPhoto]="perso.photo" [persoPseudo]="perso.pseudo" [persoIdSecrete]="perso.idSecrete" [persoRace]="perso.race" 
        [persopossedeSuperPouvoir]="perso.possedeSuperPouvoir"
        [ngClass]="{'bg-success':perso.estMechant === false,'bg-danger':perso.estMechant === true}">
    </app-mon-perso>
  </div>
</div>
<div class="container bg-dark rounded text-light text-center pt-2 pb-1 mt-3 fs-5">
  <p>All rights reserved - DeBock Light IT Solutions</p>
</div>